src/main/resources/META-INF/Employee.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="empRequest" type="empRequest"></xs:element>

	<xs:element name="empResponse" type="empResponse"></xs:element>

	<xs:complexType name="empRequest">
		<xs:sequence>
			<xs:element name="id" type="xs:int"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="empResponse">
		<xs:sequence>
			<xs:element name="id" type="xs:int"></xs:element>
			<xs:element name="role" type="xs:string"></xs:element>
			<xs:element name="fullName" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>



</xs:schema>
